.detail-box {
  margin: auto;
  padding: 48px;
}

/* left side */
.left-side .box-img {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
}
.left-side .box-img:hover .icon-search {
  display: block;
  font-size: 20px;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
  background: white;
}
.left-side .box-img .icon-search {
  position: absolute;
  left: 3%;
  top: 3%;
  display: none;
  z-index: 99;
}

/* right side */

.btn-add-cart,
.btn-buy {
  font-weight: 500;
  border: 1px solid rgb(80, 86, 85);
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  color: rgb(80, 86, 85);
  background-color: white;
  cursor: pointer;
  margin: 12px 0;
  font-size: 16px;
}
.btn-buy {
  color: #ffffff;
  background-color: rgb(90, 49, 244);
}
.infor-checking {
  margin: 32px 0;
  position: relative;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.infor-checking div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.infor-checking > .bi {
  position: absolute;
  top: -3%;
  left: 1%;
  color: forestgreen;
  font-size: 16px;
  margin-right: 4px;
}
.infor-checking p {
  font-size: 14px;
  color: #252525bf;
}
.infor-checking a {
  font-size: 14px;
  color: #252525bf;
}
.box-des > p {
  letter-spacing: 1px;
  margin-top: 32px;
  font-size: 18px;
  color: #252525bf;
}
